@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html {
  scroll-padding-top: 35px;
  /* height of sticky header */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h2 {
  display: block;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

p {
  font-size: 0.9em;
  line-height: 0.9;
  margin-top: 20px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

.navigation a {
  position: relative;
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navigation .addApp {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 3px solid;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 2em;
  transition: .5s;
}

.navigation .addApp:hover {
  background: #124c78;
  border: 2px solid;

}

.list-group {
  margin-top: 30px;
  background: transparent;
  border: 1px solid #000;
  border-radius: 15px;
  animation: myAnimation 1s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 normal forwards;
}

.list-group .list-group-item {
  padding-left: 40px;
  padding-right: 40px;
  border-bottom: 1px solid #000;
  background: transparent;
}

.list-group .list-group-item.over {
  color: #413e3e;
  background: transparent;
}

.list-group :hover {
  font-weight: 600;
}

.wrapper {
  margin-top: 80px;
  padding: 50px;
  font-size: 1em;
  position: relative;
  width: 80%;
  height: auto;
  background: rgb(250,250,250);
  border: 1px solid #000;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

input[type="datetime-local"],
h5 {
  font-size: 0.8em;
  /* Change this value to adjust the font size */
}

.Details {
  font-size: 1em;
  position: relative;
  line-height: 1.6;
  animation: myAnimation 1s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 normal forwards;
}

.Details h3 {
  font-size: 1.5em;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162938;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
}

.input-box ::placeholder {
  padding-bottom: 10px;
  color: #6898d3;
}

.btn {
  margin-top: 25px;
  width: 100%;
  background: #fff;
  border: 1px solid #000;
  outline: none;
  border-radius: 6px;
  font-size: 0.8em;
  cursor: pointer;
}
.btn:hover {
  background: rgb(210,210,210);
}



.newApp select {
  width: 100%;
  height: 40px;
  padding: 20px;
  border-radius: 10px;
  border: none;
}

@keyframes myAnimation {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.newApp {
  animation: myAnimation 1s cubic-bezier(0.64, 0, 0.78, 0) 0s 1 normal forwards;
}

.checkbox {
  text-align: center;
  /* centers the boxes */
}